$primary-color: #3E8EDC;
$error-color: #D9353A;

$background-color: #F5F5F5;
$primary-text-color: #000000;
$block-color: #FFFFFF;

$dark-background-color: #273139;
$primary-dark-text-color: #DDDADF;
$dark-block-color: #414950;