@use 'Style/abstract/mixins' as *;

.PerfectCenterChildren {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.PerfectCenterChildren * {
    margin: 8px;
}

html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;

    @include mobile {
        overflow: unset;
    }
}