@keyframes change_bg {
    from {  background: url("../../static/Home/dashboard.png") no-repeat; background-size: cover; }
    to { background: url("../../static/Home/dashboard_dark.png") no-repeat; background-size: cover; }
}

@keyframes change_margin_top {
    from {  margin-top: 0.5em; }
    to { margin-top: 0; }
}

hr {
    border: solid 1px #00000016;
    width: 50%;
    margin-left: 0;

    @include mobile{
        display: none;
    }
}

.Home {
    &-Main {
        display: flex;
        // @include column;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &-content {
        @include mobile {
            width: 90%;
            margin: 0;
            margin-bottom: 5em;
        }

        &-comments-ul {
            list-style: none;

            @include mobile {
                font-size: small;
            }
        }

        margin: 2em 0 0 5em;
        width: 60%;

        p {
            margin: 0;
        }
        h2 {
            font-weight: lighter;
            #bold-span {
                font-family: 'Nexa Bold';
            }

            @include mobile {
                margin: 2em 0 2em 0;
            }
        }
        &-btns {
            @include mobile {
                flex-direction: row;
                font-size: x-small;
            }

            display: flex;
            flex-direction: column;
            margin-top: 2em;
            margin-bottom: 2em;
            cursor: pointer;

            * {
                margin: 1em;
                text-decoration: none;
                color: white;
                padding: 1em;
                width: 10em;
                text-align: center;
                font-family: 'Nexa Bold';
                border-radius: 10px;

                @include mobile{
                    width: unset;
                    padding: 0 1em 0 1em;
                }
            }

            #try-out-btn {
                color: #3E8EDC;
                border: solid 3px #3E8EDC;

                @include mobile {
                    border: none;
                    margin: 0;
                }

                &:hover {
                    @include desktop{
                        color: #25629e;
                        border: solid 3px #25629e;
                        transition: all 0.1s;
                    }
                }
            }

            #features-btn {
                background: #3E8EDC;
                width: 10.5em;

                @include mobile {
                    background: none;
                    color: #3E8EDC;
                    margin: 0;
                    width: unset;
                }

                &:hover {
                    @include desktop{
                        background: #25629e;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }

    &-SideImage {
        width: 40%;
        height: 40em;
        margin: 2em 0 0 0;
        display: flex;
        flex-direction: column;
        box-shadow: -6px 3px 60px #00000027;
        border-radius: 40px 0 0 40px;
        position: absolute;
        right: 0;
        background: url("../../static/Home/dashboard.png") no-repeat;
        background-size: cover;
        transition: 0.5s;
        animation: change_bg 5s infinite alternate;
        @include mobile {
            position: relative;
            border-radius: 20px;
        }
    }

    &-SideImage:hover {
        @include desktop{
            width: 74%;
            animation: change_bg 5s infinite alternate, change_margin_top 0.6s infinite alternate;
        }
    }

    .Nav {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .love-message {
        position: absolute;
        bottom: 2em;
        font-size: small;
    }

    #chill-gang {
        position: absolute;
        bottom: 6em;
        display: flex;
        align-items: center;
    }

    #chill-message {
        font-family: "Freestyle Script";
        font-weight: bold;
        font-size: larger;
        margin-left: 10px;
    }

    
    #chillGuy {
        position: relative;
        width: 64px;
    }

    .Content {
        @include desktop{
            width: 70%;
        }
        @include mobile{
            margin-top: 2em;
            text-align: center;
        }        
    }
}
